@tailwind base;
@tailwind components;
@tailwind utilities;

a{
	@apply cursor-pointer;
}

a,
p,
span,
div,
h1,
h2,
h3,
h4,
h5{
	@apply text-white;
}

body{
	@apply h-full;
	@apply bg-gray_primary;
}

textarea{
	@apply resize-none;
}

textarea:focus{
	outline: none;
}

::-webkit-scrollbar{
	@apply w-0_875;
}

::-webkit-scrollbar-track{
	border-radius: 14px;
	box-shadow: inset 0 0 14px 14px #6e7175;
}

::-webkit-scrollbar-thumb{
	border: solid 4px transparent;
	border-radius: 14px;
	box-shadow: inset 0 0 14px 14px #202225;
}

::-webkit-scrollbar-button{
	display: none;
}

.dragable{
	-webkit-app-region: drag;
}
